# This file is used as in interface to activate/deactivate every probe type
# depending of the needs:
#  - TAP: need to be at a correct nozzle temperature to avoid burning the PEI when used
#  - Dockable probe: need to be attached/docked when used
#  - ... can be improved depending of new probes needs ...

