# Exhaust filter
[gcode_macro _USER_VARIABLES]
variable_exhaust_filter_enabled: True
variable_exhaust_filter_name: "exhaust_filter"
variable_exhaust_filter_m106_fan_index: "P3"
gcode:

# Also include directly the exhaust control macros from here
[include ../../../macros/hardware_functions/exhaust_filter.cfg]

[fan_generic exhaust_filter]
pin: EXHAUST_FAN
max_power: 1.0
shutdown_speed: 0.0
kick_start_time: 5.0
off_below: 0.30

