[board_pins mmu_manufacturer]
mcu: mmu
aliases:
    MCU_M1_STEP=PD4    , MCU_M1_DIR=PD3    , MCU_M1_EN=PD5    , MCU_M1_UART=PB5    , MCU_M1_DIAG=PB9   ,
    MCU_M2_STEP=PC9    , MCU_M2_DIR=PC8    , MCU_M2_EN=PD2    , MCU_M2_UART=PB4    , MCU_M2_DIAG=PB8   ,
    MCU_M3_STEP=PC15   , MCU_M3_DIR=PC11   , MCU_M3_EN=PC10   , MCU_M3_UART=PB3    , MCU_M3_DIAG=PB7   ,
    MCU_M4_STEP=PC13   , MCU_M4_DIR=PC12   , MCU_M4_EN=PC12   , MCU_M4_UART=PD6    , MCU_M4_DIAG=PB6   ,

    MCU_MISO=PB14  , MCU_SCK=PB13  , MCU_MOSI=PB15  ,

    MCU_STOP1=PA15      , MCU_STOP2=PA10 , MCU_STOP3=PD9  , MCU_STOP4=PD8   ,

    MCU_STP_33V=<3.3V> , MCU_STOP16=PC7 , MCU_STOP15=PA9 , MCU_STOP14=PB12 , MCU_STOP13=PB10 , MCU_STOP12=PB1 , MCU_STOP11=PC5 ,
    MCU_STP_GND=<GND>  , MCU_STOP5=PC6  , MCU_STOP6=PA8  , MCU_STOP7=PB11  , MCU_STOP8=PB2   , MCU_STOP9=PB0  , MCU_STOP10=PC4 ,


    MCU_MOT1=PA1     ,
    MCU_MOT2=PA0     ,
    MCU_SENSOR=PC2   ,
    MCU_RGB=PC3      ,

    ## I2C header
    MCU_I2C_SDA=PC1  , MCU_I2C_SCL=PC0  ,

